/*
 *    This file is part of UnitTH
 *
 *   UnitTH is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   UnitTH is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with UnitTH if not, see <http://www.gnu.org/licenses/>.
 *
 * =======================================================================
 * $Id$
 * =======================================================================
 */
BODY {
	Font-size: 10px;
	FONT-FAMILY: verdana, arial, sans-serif;
	PADDING: 0px;
	MARGIN: 0px;
}

TABLE {
	FONT-SIZE: 9px;
	BORDER: 0px solid;
}

TABLE.sortable {
	FONT-SIZE: 9px;
	BORDER: 0px solid;
}

TH.graphHeaderAsc {
	BACKGROUND: #eff7ff 95% 50% url(../images/caret_down.gif) no-repeat;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
  PADDING: 4px 12px 1px 1px;
  TEXT-ALIGN: left;
}

TH.graphHeaderDesc {
	BACKGROUND: #eff7ff 95% 50% url(../images/caret_up.gif) no-repeat;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
	PADDING: 4px 12px 1px 1px;
	TEXT-ALIGN: left;
}

TH.graphHeaderLeftAsc {
	BACKGROUND: #eff7ff 98% 50% url(../images/caret_down.gif)	no-repeat;
	BORDER: #dcdcdc 1px solid;
	PADDING: 4px 12px 1px 1px;
	TEXT-ALIGN: left;
}

TH.graphHeaderLeftDesc {
	BACKGROUND: #eff7ff 98% 50% url(../images/caret_up.gif)	no-repeat;
	BORDER: #dcdcdc 1px solid;
	PADDING: 4px 12px 1px 1px;
	TEXT-ALIGN: left;
}

TH.graphHeader {
	BACKGROUND: #eff7ff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
	PADDING: 4px 12px 1px 1px;
  TEXT-ALIGN: left;
}

TH.graphHeaderLeft {
	BACKGROUND: #eff7ff;
	BORDER: #dcdcdc 1px solid;
	PADDING: 4px 12px 1px 1px;
  TEXT-ALIGN: left;
}

TABLE.mainAnchor {
	FONT-SIZE: 16px;
	BORDER: 0px solid;
	PADDING-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse;
}

TD.mainAnchor {
	BORDER-BOTTOM: #000000 1px solid;
}

TABLE.topcontainer {
	FONT-SIZE: 9px;
	BORDER: #F8F8F8 1px solid;
}

TABLE.sum {
	FONT-SIZE: 10px;
	BORDER: 0px solid;
	WIDTH: 300px;
	PADDING-BOTTOM: 2px;
	BORDER-COLLAPSE: collapse;
}

TD.sumbottom {
	BORDER-BOTTOM: #dcdcdc 1px solid;
	PADDING-BOTTOM: 2px;
}

TD.summid {
	PADDING-BOTTOM: 2px;
}

TABLE.imageholder {
	FONT-SIZE: 9px;
	BORDER: 0px solid;
	VERTICAL-ALIGN: top;
	BORDER-COLLAPSE: collapse;
}

.navBar {
	Font-weight: normal;
	Font-size: 10px;
}

DIV.navBarLink {
	Font-weight: normal;
	Font-size: 10px;
	padding-top: 4px;
}

TR.graphHeader {
	BACKGROUND: #eff7ff;
	BORDER: 1px solid;
}

/* FIXME */
TD.sumhdr {
	BACKGROUND: #E3E4FA; 
	BORDER-TOP : #D8D8D8 1px solid;
	BORDER-BOTTOM: #D8D8D8 1px solid;
	FONT-SIZE: 14px;
	BORDER-TOP: #D8D8D8 1px solid;
}

TD.graphItemLeft {
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-LEFT: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}

TD.graphItem {
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
}

TD.graphPercent {
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
}

TD.graphBarLeft {
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	FONT-WEIGHT: bold;
}

TD.graphBar {
	BACKGROUND: #ffffff;
	BORDER-BOTTOM: #dcdcdc 1px solid;
	BORDER-RIGHT: #dcdcdc 1px solid;
	WIDTH: 50%;
}

TABLE.barGraph {
	WIDTH: 100%;
}

TD.prpass {
	FONT-SIZE: 2px;
	BACKGROUND: #00df00;
	BORDER-LEFT: #9c9c9c 1px solid;
	BORDER-TOP: #9c9c9c 1px solid;
	BORDER-BOTTOM: #9c9c9c 1px solid;
}

TD.prfail {
	FONT-SIZE: 2px;
	BACKGROUND: #df0000;
	BORDER: #9c9c9c 1px solid;
}

TD.prNan {
	FONT-SIZE: 2px;
	BACKGROUND: #FFFF00;
	BORDER: #9c9c9c 1px solid;
}

TD.pass {
	FONT-SIZE: 2px;
	BACKGROUND: #00df00;
	BORDER-TOP: #4AA02C 1px solid;
	BORDER-BOTTOM: #347235 1px solid;
	BORDER-RIGHT: #347235 1px solid;
	BORDER-LEFT: #4AA02C 1px solid;
}

TD.fail {
	FONT-SIZE: 2px;
	BACKGROUND: #df0000;
	BORDER-TOP: #7E3117 1px solid;
	BORDER-BOTTOM: #7E2217 1px solid;
	BORDER-RIGHT: #7E2217 1px solid;
	BORDER-LEFT: #7E3117 1px solid;
}

TD.error {
	FONT-SIZE: 2px;
	BACKGROUND: #df0000;
	BORDER-TOP: #7E3117 1px solid;
	BORDER-BOTTOM: #7E2217 1px solid;
	BORDER-RIGHT: #7E2217 1px solid;
	BORDER-LEFT: #7E3117 1px solid;
}

TD.ignored {
	FONT-SIZE: 2px;
	BACKGROUND: #FFFF00;
	BORDER-TOP: #9c9c9c 1px solid;
	BORDER-BOTTOM: #717D7D 1px solid;
	BORDER-RIGHT: #717D7D 1px solid;
	BORDER-LEFT: #9c9c9c 1px solid;
}

TD.norun {
	FONT-SIZE: 2px;
	BACKGROUND: #C2DFFF;
	BORDER-TOP: #9c9c9c 1px solid;
	BORDER-BOTTOM: #717D7D 1px solid;
	BORDER-RIGHT: #717D7D 1px solid;
	BORDER-LEFT: #9c9c9c 1px solid;
}

TD.prTrend {
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 2px;
}

TD.prTrendBottom {
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 2px;
	BORDER-BOTTOM: #dcdcdc 1px solid;
}

H2.title {
	FONT-SIZE: 14px;
}

H3.title {
	FONT-SIZE: 12px;
}

TH.bar {
	
}

DIV.hidden {
	visibility : hidden;
}